<div class="row d-flex justify-content-center" id="about-me">
    <div class="col-sm-12">
        <div class="card about-me">

            <h5 class="card-title about-me">About me</h5>
            <div class="card-body about-me border">
                <p class="about-me-text">I am studying Computer Science to make a career change from Finance into Software Engineering. 
                    While working in Finance I learned that I really enjoyed programming so I chose to pursue it part time. After careful consideration I decided to return to school full time
                    in starting in the Spring 2020 semester. 
                </p>
                
                <p class="about-me-data mb-0">Location</p>
                <p>Austin, TX</p>
                        
                <p class="about-me-data mb-0">School</p>
                <p>Oregon State University</p>

                <p class="about-me-data mb-0">Completed Courses</p>
                <ul class="pl-4">
                    <li class="courses m-0">Computer Architecture and Assembly Language (assembly)</li>
                    <li class="courses">Software Engineering I (javascript)</li>
                    <li class="courses">Data Structures (python)</li>
                    <li class="courses">Web Development (javascript)</li>
                    <li class="courses">Discrete Structures in CS</li>
                    <li class="courses">Intro to Computer Science II (C++)</li>
                    <li class="courses">Intro to Computer Science I (C++)</li>
                </ul>
            </div>
        </div>
    </div>
</div>