<div class="card about-me">
<h5 class="card-title about-me">About me</h5>
<div class="card-body about-me border">
    <img class="d-block w-100" src="img/about-me/about-me-1.JPG" alt="About me image">

    {{!-- 576px and up --}}
    <span class="textbox-overlay d-none d-sm-block d-md-none">
        <span class="textbox-body">
            <p class="about-me-subtitle">My Story</p>
            <p class="about-me-text"> 
                Hi, I'm Kevin. I am a full time student making a career change from Finance 
                into Software Engineering. 
            </p>

            <p class="about-me-subtitle">Current Location</p>
            <p class="about-me-text">Austin, TX</p>
                        
            <p class="about-me-subtitle">School</p>
            <p class="about-me-text">Oregon State University</p>
        </span>
    </span>

    {{!-- 768px and up --}}
    <span class="textbox-overlay d-none d-md-block d-lg-none">
        <span class="textbox-body">
            <p class="about-me-subtitle">My Story</p>
            <p class="about-me-text"> 
                Hi, I'm Kevin. I am a full time student making a career change from Finance 
                into Software Engineering.  
            </p>

            <p class="about-me-text"> While learning Python to automate tedious tasks and better manipulate data in my previous roles,
                I discovered that I really enjoy programming. 
            </p>

            <p class="about-me-subtitle">Current Location</p>
            <p class="about-me-text">Austin, TX</p>
                        
            <p class="about-me-subtitle">School</p>
            <p class="about-me-text">Oregon State University</p>
        </span>
    </span>

        {{!-- 992px and up --}}
    <span class="textbox-overlay d-none d-lg-block">
        <span class="textbox-body">
            <p class="about-me-subtitle">My Story</p>
            <p class="about-me-text"> 
                Hi, I'm Kevin. I am a full time student making a career change from Finance 
                into Software Engineering.
            </p>

            <p class="about-me-text"> 
                While learning Python to automate tedious tasks and better manipulate data in my previous roles,
                I discovered that I really enjoy programming. 
            </p>

            <p class="about-me-text"> 
                I started pursuing a computer science degree part time in 2019, 
                and decided that it was finally time to return to school full time for Spring 2020.
            </p>

            <p class="about-me-subtitle">Current Location</p>
            <p class="about-me-text">Austin, TX</p>
                        
            <p class="about-me-subtitle">School</p>
            <p class="about-me-text">Oregon State University</p>
        </span>
        
    </span>
</div>
</div>
<div class="card-body about-me-body-xs d-block d-sm-none">
    <p class="card-text about-me-text"> 
        Hi, I'm Kevin and I am a full time student making a career change from Finance 
        into Software Engineering. 
    </p>
</div>

{{!-- Larger than XS Screens--}}
<div class="card-body d-none d-sm-block">
	<p class="card-text">Inca Trail, Peru - September 2019</p>
</div>

{{!-- Smaller than SM screens --}}
<div class="card-body d-block d-sm-none">
	<p class="card-text text-right">Inca Trail, Peru - September 2019</p>
</div>
