<h5 class="link-anchor" id="apple-cart"></h5>
<h5 class="card-title">Apple Cart</h5>
<div class="card d-flex w-100">
    <div id="apple-cart-controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a target="_blank"><img class="d-block w-100" src="img/apple-cart/apple-cart-1.png" alt="First slide"></a>
            </div>
            <div class="carousel-item">
                <a target="_blank"><img class="d-block w-100" src="img/apple-cart/apple-cart-2.png" alt="Second slide"></a>
            </div>
            <div class="carousel-item">
                <a target="_blank"><img class="d-block w-100" src="img/apple-cart/apple-cart-3.png" alt="Third slide"></a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#apple-cart-controls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon light-theme" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#apple-cart-controls" role="button" data-slide="next">
            <span class="carousel-control-next-icon light-theme" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="card-body">
    <p class="card-text">Front End: HTML, CSS, Bootstrap, Javascript</p>
    <p class="card-text">Back End: Node.js, Express, Handlebars, Session, MySQL, Heroku</p>
    <div>
        <a href="https://apple-cart.herokuapp.com/login" target="_blank" class="card-links">Website</a>
        <a href="https://github.com/joykm88/apple-cart/" target="_blank" class="card-links">Source Code</a>
    </div>
</div>