<h5 class="link-anchor" id="carzam"></h5>
<h5 class="card-title">Carzam</h5>
<div class="card d-flex w-100">
    <div id="carzam-controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a target="_blank"><img class="d-block w-100" src="img/carzam/carzam-1.png" alt="First slide"></a>
            </div>
            <div class="carousel-item">
                <a target="_blank"><img class="d-block w-100" src="img/carzam/carzam-2.png" alt="First slide"></a>
            </div>
            <div class="carousel-item">
                <a target="_blank"><img class="d-block w-100" src="img/carzam/carzam-3.png" alt="First slide"></a>
            </div>
            <div class="carousel-item">
                <a target="_blank"><img class="d-block w-100" src="img/carzam/carzam-4.png" alt="First slide"></a>
            </div>
            <div class="carousel-item">
                <a target="_blank"><img class="d-block w-100" src="img/carzam/carzam-5.png" alt="First slide"></a>
            </div>
            <div class="carousel-item">
                <a target="_blank"><img class="d-block w-100" src="img/carzam/carzam-6.png" alt="First slide"></a>
            </div>
            <div class="carousel-item">
                <a target="_blank"><img class="d-block w-100" src="img/carzam/carzam-7.png" alt="First slide"></a>
            </div>
            <div class="carousel-item">
                <a target="_blank"><img class="d-block w-100" src="img/carzam/carzam-8.png" alt="First slide"></a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carzam-controls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon light-theme" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carzam-controls" role="button" data-slide="next">
            <span class="carousel-control-next-icon light-theme" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="card-body">
    <p class="card-text">Front End: HTML, CSS, Bootstrap, JavaScript</p>
    <p class="card-text">Back End: Flask, Docker, Heroku</p>
    <p class="card-text">Machine Learning: PyTorch, YOLOv5</p>

    <div>
        <a href="https://github.com/carzamm/carzam" target="_blank" class="card-links">GitHub</a>
    </div>
</div>