<h5 class="link-anchor" id="dom-manipulation"></h5>
<h5 class="card-title">Dom Manipulation</h5>
<div class="card dom-manipulation d-flex w-100">
    <div id="dom-manipulation-table" class="d-flex justify-content-center"></div>
    <div id="dom-manipulation-up" class="col text-center"></div>
    <div id="dom-manipulation-left-down-right" class="col text-center"></div>
    <div id="dom-manipulation-mark-cell" class="col text-center"></div>
    <div id="dom-manipulation-clear-cells" class="col text-center"></div>
</div>
<div class="card-body">
    <a href="https://github.com/joykm88/dom-manipulation" class="card-links" target="_blank">Source Code</a>
</div>