<h5 class="link-anchor" id="issue-tracker"></h5>
<h5 class="card-title">Issue Tracker</h5>
<div class="card d-flex w-100">
    <div id="issue-tracker-controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a target="_blank"><img class="d-block w-100" src="img/issue-tracker/issue-tracker-1.png" alt="First slide"></a>
            </div>
            <div class="carousel-item">
                <a target="_blank"><img class="d-block w-100" src="img/issue-tracker/issue-tracker-2.png" alt="Second slide"></a>
            </div>
            <div class="carousel-item">
                <a target="_blank"><img class="d-block w-100" src="img/issue-tracker/issue-tracker-3.png" alt="Third slide"></a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#issue-tracker-controls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon light-theme" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#issue-tracker-controls" role="button" data-slide="next">
            <span class="carousel-control-next-icon light-theme" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="card-body">
    <p class="card-text">Front End: HTML, CSS, Bootstrap, Javascript</p>
    <p class="card-text">Back End: Node.js, Express, Handlebars, MySQL, Heroku</p>

    <div>
        <a href="https://kj-issue-tracker.herokuapp.com/" target="_blank" class="card-links">Website</a>
        <a href="https://github.com/joykm88/issue-tracker" target="_blank" class="card-links">GitHub</a>
    </div>
</div>