<nav class="navbar fixed-top navbar-expand-sm">
    <a class="navbar-brand" href="#top">Kevin Joy</a>
    <button class="navbar-toggler contact-info" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="dropdown-toggle">Contact Info</span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav align-items-end">
            <li class="nav-item ">
                <a href="mailto: joykm88@gmail.com" class="nav-link" target="_blank"></span>joykm88@gmail.com</a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/joykm88" class="nav-link" target="_blank"></span>GitHub</a>
            </li>
            <li class="nav-item">
                <a href="https://www.linkedin.com/in/kevin-joy/" class="nav-link" target="_blank"></span>LinkedIn</a>
            </li>
        </ul>
    </div>
</nav>
   
   
   
   
   
   
   
   
   {{!-- <nav class="navbar fixed-top align-items-end">
        <h5 href="#top" class="navbar-brand" id="name">Kevin Joy</h5>
        <span class="contacts-span">
            <a href="mailto: joykm88@gmail.com" class="card-link contact-info" target="_blank"><span class="nav-chevron" data-jam="chevron-right" data-fill="#007bff"></span>joykm88@gmail.com</a>
            <a href="https://github.com/joykm88" class="card-link contact-info" target="_blank"><span class="nav-chevron" data-jam="chevron-right" data-fill="#007bff"></span>GitHub</a>
            <a href="https://www.linkedin.com/in/kevin-joy/" class="card-link contact-info" target="_blank"><span class="nav-chevron" data-jam="chevron-right" data-fill="#007bff"></span>LinkedIn</a>
        </span>
    </nav> --}}










            {{!-- <button class="align-items-end navbar-toggler custom" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="dropdown-toggle" ><span data-jam="chevron-right" data-fill="#747fe0"></span>Contacts</span>
                <span class="" >Projects</span>
            </button>
        </span>
        </div>
        <div class="navbar-collapse collapse w-100" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item text-right">
                        <a class="dropdown-item" href="#apple-cart"><span class="dropdown-chevron" data-jam="chevron-right" data-fill="#747fe0"></span>Apple Cart</a>
                        <a class="dropdown-item" href="#keto-love"><span class="dropdown-chevron" data-jam="chevron-right" data-fill="#747fe0"></span>Keto Love</a>
                        <a class="dropdown-item" href="#workout-table"><span class="dropdown-chevron" data-jam="chevron-right" data-fill="#747fe0"></span>Workout Table</a>
                        <a class="dropdown-item" href="#weather-api"><span class="dropdown-chevron" data-jam="chevron-right" data-fill="#747fe0"></span>Weather API</a>
                        <a class="dropdown-item" href="#other-projects"><span class="dropdown-chevron" data-jam="chevron-right" data-fill="#747fe0"></span>Other Projects</a>
                        <a class="dropdown-item" href="#apple-cart"><span class="dropdown-chevron" data-jam="chevron-right" data-fill="#007bff"></span>Apple Cart</a>
                        <a class="dropdown-item" href="#keto-love"><span class="dropdown-chevron" data-jam="chevron-right" data-fill="#007bff"></span>Keto Love</a>
                        <a class="dropdown-item" href="#workout-table"><span class="dropdown-chevron" data-jam="chevron-right" data-fill="#007bff"></span>Workout Table</a>
                        <a class="dropdown-item" href="#weather-api"><span class="dropdown-chevron" data-jam="chevron-right" data-fill="#007bff"></span>Weather API</a>
                        <a class="dropdown-item" href="#other-projects"><span class="dropdown-chevron" data-jam="chevron-right" data-fill="#007bff"></span>Other Projects</a>
                </li>
            </ul>
        </div> --}}