<nav class="navbar fixed-top align-items-end navbar-expand-sm align-items-center">
    <a class="navbar-brand" href="#top">Kevin Joy</a>
    <button class="navbar-toggler contact-info" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="dropdown-toggle">Contact Info</span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav align-items-end">
            <li class="nav-item ">
                <a href="mailto: joykm@protonmail.com" class="nav-link" target="_blank"></span>joykm@protonmail.com</a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/joykm88" class="nav-link" target="_blank"></span>GitHub</a>
            </li>
            <li class="nav-item">
                <a href="https://www.linkedin.com/in/kevin-joy/" class="nav-link" target="_blank"></span>LinkedIn</a>
            </li>
        </ul>
    </div>
</nav>