<h5 class="link-anchor" id="other-projects"></h5>
<h5 class="card-title">Other Projects</h5>
<div class="card other-projects d-flex w-100">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Project</th>
            <th scope="col">Description</th>
            <th scope="col">Source Code</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Portfolio</td>
                <td>Personal website for portfolio</td>
                <td><a href="https://github.com/joykm88/portfolio" target="_blank">github.com/joykm88/portfolio</a></td>
            </tr>
            <tr>
                <td>Hash Map</td>
                <td>Full implementation of a Hash Map in Python</td>
                <td><a href="https://github.com/joykm88/hash-map" target="_blank">github.com/joykm88/hash-map</a></td>
            </tr>
            <tr>
                <td>Binary Search Tree</td>
                <td>Implementation of a binary search tree within Python</td>
                <td><a href="https://github.com/joykm88/binary-search-tree" target="_blank">github.com/joykm88/binary-search-tree</a></td>
            </tr>
            <tr>
                <td>Deque and Bag ADT's</td>
                <td>Implementation of the Deque and Bag ADT's with a Singly Linked List in Python and the Deque ADT with a Circularly Doubly Linked List in Python</td>
                <td><a href="https://github.com/joykm88/deque-bag-adt" target="_blank">github.com/joykm88/deque-bag-adt</a></td>
            </tr>
            <tr>
                <td>Stack</td>
                <td>Implementation of a stack in Python to check balanced parentheses</td>
                <td><a href="https://github.com/joykm88/stack-balanced-parentheses" target="_blank">github.com/joykm88/stack-balanced-parentheses</a></td>
            </tr>
            <tr>
                <td>Text Adventure</td>
                <td>Multi file text adventure in C++</td>
                <td><a href="https://github.com/joykm88/text-adventure" target="_blank">github.com/joykm88/text-adventure</a></td>
            </tr>
        </tbody>
    </table>
</div>