<h5 class="link-anchor" id="other-projects"></h5>
<h5 class="card-title">Other Projects</h5>
<div class="card other-projects d-flex w-100">
    {{!-- 576px and up --}}
    <table class="table table-hover d-none d-sm-block">
        <thead>
            <tr>
            <th scope="col">Project</th>
            <th scope="col">Description</th>
            <th scope="col">GitHub</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>TCP Client Server One-Time Pads</td>
                <td>C implementation of a TCP socket based inter process communication client/server one-time pads encryption/decryption program.</td>
                <td><a href="https://github.com/joykm88/tcp-client-server-one-time-pads" target="_blank">github.com/joykm88/tcp-client-server-one-time-pads</a></td>
            </tr>
            <tr>
                <td>Multi-Threaded Producer Consumer Pipeline</td>
                <td>C implementation of a producer consumer pipeline utilizing threads, mutex locks, and condition variables.</td>
                <td><a href="https://github.com/joykm88/multi-threaded-producer-consumer-pipeline" target="_blank">github.com/joykm88/multi-threaded-producer-consumer-pipeline</a></td>
            </tr>
            <tr>
                <td>Multi-Threaded Map Reduce</td>
                <td>Rust implementation of a Multi-threaded map reduce.</td>
                <td><a href="https://github.com/joykm88/multi-threaded-map-reduce" target="_blank">github.com/joykm88/multi-threaded-map-reduce</a></td>
            </tr>
            <tr>
                <td>C Files and Directories</td>
                <td>C implementation for reading and writing files and directories in Unix systems. </td>
                <td><a href="https://github.com/joykm88/c-files-and-directories" target="_blank">github.com/joykm88/c-files-and-directories</a></td>
            </tr>
            <tr>
                <td>C Files and Datastructs</td>
                <td>C programming in unix systes using basic datastructures.</td>
                <td><a href="https://github.com/joykm88/c-files-and-datastructs" target="_blank">github.com/joykm88/c-files-and-datastructs</a></td>
            </tr>
            <tr>
                <td>TCP Client Server Chat</td>
                <td>Python implementation of a simple client-server chat using the TCP protocol.</td>
                <td><a href="https://github.com/joykm88/tcp-client-server-chat" target="_blank">github.com/joykm88/tcp-client-server-chat</a></td>
            </tr>
            <tr>
                <td>Continuous Integration</td>
                <td>Python utilization of the continuous integration workflow with github actions and the unittest testing framework.</td>
                <td><a href="https://github.com/joykm88/continuous-integration" target="_blank">github.com/joykm88/continuous-integration</a></td>
            </tr>
            <tr>
                <td>Test Driven Development</td>
                <td>Python utilization of the Test Driven Development workflow and unittest testing framework.</td>
                <td><a href="https://github.com/joykm88/test-driven-development" target="_blank">github.com/joykm88/test-driven-development</a></td>
            </tr>
            <tr>
                <td>Portfolio</td>
                <td>Personal website for portfolio (Front End: HTML, CSS, Bootstrap, Javascript - Back End: Node.js, Express, Handlebars, Heroku)</td>
                <td><a href="https://github.com/joykm88/portfolio" target="_blank">github.com/joykm88/portfolio</a></td>
            </tr>
            <tr>
                <td>Hash Map</td>
                <td>Python implementation of a Hash Map</td>
                <td><a href="https://github.com/joykm88/hash-map" target="_blank">github.com/joykm88/hash-map</a></td>
            </tr>
            <tr>
                <td>Binary Search Tree</td>
                <td>Python implementation of a Binary Search Tree</td>
                <td><a href="https://github.com/joykm88/binary-search-tree" target="_blank">github.com/joykm88/binary-search-tree</a></td>
            </tr>
            <tr>
                <td>Deque and Bag ADT's</td>
                <td>Python implementation of the Deque and Bag ADT's with a Singly Linked List and the Deque ADT with a Circularly Doubly Linked List</td>
                <td><a href="https://github.com/joykm88/deque-bag-adt" target="_blank">github.com/joykm88/deque-bag-adt</a></td>
            </tr>
            <tr>
                <td>Stack</td>
                <td>Python implementation of a Stack to check balanced parentheses</td>
                <td><a href="https://github.com/joykm88/stack-balanced-parentheses" target="_blank">github.com/joykm88/stack-balanced-parentheses</a></td>
            </tr>
            <tr>
                <td>Low-Level I/O</td>
                <td>Assemply implementation of low-level I/O procedures</td>
                <td><a href="https://github.com/joykm88/low-level-IO" target="_blank">github.com/joykm88/low-level-IO</a></td>
            </tr>
            <tr>
                <td>Indirect Addressing</td>
                <td>Assembly implementation to fill an array with random numbers, perfom a selection sort, and display the array</td>
                <td><a href="https://github.com/joykm88/indirect-addressing" target="_blank">github.com/joykm88/indirect-addressing</a></td>
            </tr>
            <tr>
                <td>Text Adventure</td>
                <td>C++ multi file text adventure</td>
                <td><a href="https://github.com/joykm88/text-adventure" target="_blank">github.com/joykm88/text-adventure</a></td>
            </tr>
        </tbody>
    </table>

    {{!-- 575px and down --}}
    <table class="table table-hover d-block d-sm-none">
        <thead>
            <tr>
            <th scope="col">Project</th>
            <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="https://github.com/joykm88/tcp-client-server-one-time-pads" target="_blank">TCP Client Server One-Time Pads</a></td>
                <td>C - TCP socket inter process communication, client/server model, one-time pads encryption/decryption.</td>
            </tr>
            <tr>
                <td><a href="https://github.com/joykm88/multi-threaded-producer-consumer-pipeline" target="_blank">Multi-Threaded Producer Consumer Pipeline</a></td>
                <td>C - Producer consumer pipeline using threads, mutex locks, and condition variables.</td>
            </tr>
            <tr>
                <td><a href="https://github.com/joykm88/multi-threaded-map-reduce" target="_blank">Multi Threaded Map Reduce</a></td>
                <td>Rust implementation of a Multi-threaded map reduce.</td>
            </tr>
            <tr>
                <td><a href="https://github.com/joykm88/c-files-and-directories" target="_blank">C Files and Directories</a></td>
                <td>C - Reading and writing files and directories in Unix systems. </td>
            </tr>
            <tr>
                <td><a href="https://github.com/joykm88/c-files-and-datastructs" target="_blank">C Files and Datastructs</a></td>
                <td>C programming in unix systes using basic datastructures.</td>
            </tr>
            <tr>
                <td><a href="https://github.com/joykm88/tcp-client-server-chat" target="_blank">TCP Client Server Chat</a></td>
                <td>C - Simple client-server chat using TCP protocol.</td>
            </tr>
            <tr>                
                <td><a href="https://github.com/joykm88/continuous-integration" target="_blank">Continuous Integration</a></td>
                <td>Continuous Integration workflow with unittest framework.</td>
            </tr>
            <tr>
                <td><a href="https://github.com/joykm88/test-driven-development" target="_blank">Test Driven Development</a></td>
                <td>TDD workflow with unittest framework</td>
            </tr>
            <tr>
                <td><a href="https://github.com/joykm88/portfolio" target="_blank">Portfolio</a></td>
                <td>Personal website for portfolio</td>
            </tr>
            <tr>
                <td><a href="https://github.com/joykm88/hash-map" target="_blank">Hash Map</a></td>
                <td>Full implementation of a Hash Map (Python)</td>
            </tr>
            <tr>
                <td><a href="https://github.com/joykm88/binary-search-tree" target="_blank">Binary Search Tree</a></td>
                <td>Implementation of a Binary Search Tree (Python)</td>
            </tr>
            <tr>
                <td><a href="https://github.com/joykm88/deque-bag-adt" target="_blank">Deque and Bag ADT's</a></td>
                <td>Implementation of the Deque and Bag ADT's with a Singly Linked List and the Deque ADT with a Circularly Doubly Linked List (Python)</td>
            </tr>
            <tr>
                <td><a href="https://github.com/joykm88/stack-balanced-parentheses" target="_blank">Stack</a></td>
                <td>Implementation of a Stack to check balanced parentheses (Python)</a></td>
            </tr>

            <tr>
                <td><a href="https://github.com/joykm88/low-level-IO" target="_blank">Low-Level I/O</a></td>
                <td>Design, implement, and call low-level I/O procedures (Assembly)</td>
            </tr>
            <tr>
                <td><a href="https://github.com/joykm88/indirect-addressing" target="_blank">Indirect Addressing</a></td>
                <td>Fill an array with random numbers, perfom a selection sort, and display the array (Assembly)</td>
            </tr>
            <tr>
                <td><a href="https://github.com/joykm88/text-adventure" target="_blank">Text Adventure</a></td>
                <td>Multi file text adventure (C++)</td>
            </tr>
        </tbody>
    </table>
</div>