<h5 class="link-anchor" id="other-projects"></h5>
<h5 class="card-title">Other Projects</h5>
<div class="card other-projects d-flex w-100">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Project</th>
            <th scope="col">Description</th>
            <th scope="col">Source Code</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Hash Map</td>
                <td>Full implementation of a Hash Map in Python</td>
                <td><a href="https://github.com/joykm88/hash-map" target="_blank">github.com/joykm88/hash-map</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Text Adventure</td>
                <td>Multi file text adventure in C++</td>
                <td><a href="https://github.com/joykm88/text-adventure" target="_blank">github.com/joykm88/text-adventure</a></td>
            </tr>
        </tbody>
    </table>
</div>