<h5 class="link-anchor" id="post-request"></h5>
<h5 class="card-title">Post Request</h5>
<div class="card post-request d-flex w-100">
	
	<form id="post-request">
		<div class="form-row align-items-center justify-content-center">
			<div class="col-auto post-request-form-element">
				<label class="sr-only" for="inlineFormInput">string</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							Text
						</div>
					</div>
					<input type="text" class="form-control" id="postInput" placeholder="http://httpbin.org/post">
				</div>
			</div>
			<div class="col-auto post-request-form-element">
				<button type="submit" class="btn btn-primary" id="postSubmit">Submit</button>
			</div>
		</div>
	</form>
	<h3 class="d-flex justify-content-center post-request-form-element" >Output:</h3>
	<span id="postOutput" class="d-flex justify-content-center"></span>    
</div>
<div class="card-body">
    <a href="https://github.com/joykm88/portfolio/blob/master/views/partials/post-request.hbs" class="card-links" target="_blank">Source Code</a>
</div>
   