<h5 class="link-anchor" id="post-request"></h5>
<h5 class="card-title">Post Request</h5>
<div class="card post-request d-flex w-100">
	
	<form id="post-request">
		<div class="col-auto form-element form-input">
			<label for="#postInput">Text</label>
			<input type="text" class="form-control" id="postInput" size="50" placeholder="enter text, posts to httpbin.org, returns entered text">
		</div>
		<div class="col-auto form-element d-flex justify-content-center">
			<button type="submit" class="btn btn-primary" id="postSubmit">Submit</button>
		</div>
	</form>

	<h3 class="d-flex justify-content-center form-element" >Output:</h3>
	<span id="postOutput" class="d-flex justify-content-center"></span>    
</div>

<div class="card-body">
	<p class="card-text">HTML, CSS, Bootstrap, Javascript</p>
	<div>
    	<a href="https://github.com/joykm88/portfolio/blob/master/public/js/post-request.js" class="card-links" target="_blank">GitHub</a>
	</div>
</div>