<h5 class="link-anchor" id="small-shell"></h5>
<h5 class="card-title">Small Shell</h5>
<div class="card d-flex w-100">
    <iframe height="400px" width="100%" src="https://replit.com/@joykm88/small-shell?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</div>
<div class="card-body">
    <p class="card-text">C, Repl.it</p>

    <div>
        <a href="https://replit.com/talk/share/Small-Shell/130544" target="_blank" class="card-links">Website</a>
        <a href="https://github.com/joykm88/small-shell" target="_blank" class="card-links">GitHub</a>
    </div>
</div>