<h5 class="link-anchor" id="sudoku"></h5>
<h5 class="card-title">Sudoku</h5>
<div class="card d-flex w-100">
    <div id="sudoku-controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a target="_blank"><img class="d-block w-100" src="img/sudoku/sudoku-1.png" alt="First slide"></a>
            </div>
            <div class="carousel-item">
                <a target="_blank"><img class="d-block w-100" src="img/sudoku/sudoku-2.png" alt="Second slide"></a>
            </div>
            <div class="carousel-item">
                <a target="_blank"><img class="d-block w-100" src="img/sudoku/sudoku-3.png" alt="Third slide"></a>
            </div>
            <div class="carousel-item">
                <a target="_blank"><img class="d-block w-100" src="img/sudoku/sudoku-4.png" alt="Forth slide"></a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#sudoku-controls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon light-theme" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#sudoku-controls" role="button" data-slide="next">
            <span class="carousel-control-next-icon light-theme" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="card-body">
    <p class="card-text">Pygame, Python3, Repl.it</p>

    <div>
        <a href="https://repl.it/talk/share/Sudoku/113214" target="_blank" class="card-links">Website</a>
        <a href="https://github.com/joykm88/sudoku" target="_blank" class="card-links">GitHub</a>
    </div>
</div>