<h5 class="link-anchor" id="sudoku"></h5>
<h5 class="card-title">Sudoku</h5>
<div class="card d-flex w-100">
    <iframe height="400px" width="100%" src="https://repl.it/@joykm88/sudoku?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</div>
<div class="card-body">
    <p class="card-text">Pygame, Python3, Repl.it</p>
    <div>
        <a href="https://github.com/joykm88/sudoku" target="_blank" class="card-links">GitHub</a>
    </div>
</div>