<h5 class="link-anchor" id="weather-api"></h5>
<h5 class="card-title">Weather API</h5>
<div class="card weather-api d-flex w-100">
	
	<form id="api-city">
		<div class="col-auto form-element form-input">
			<label for="#city">City</label>
			<input id="city" type="text" class="form-control" pattern="[a-zA-Z]+" placeholder="city" required>
		</div>
		<div class="col-auto form-element form-input">
			<label for="#countryCity"><a href="https://www.nationsonline.org/oneworld/country_code_list.htm" target="_blank">Country Codes</a></label>
			<input id="countryCity" type="text" class="form-control" pattern="[a-zA-Z]+" placeholder="enter valid country code" required>
		</div>
		<div class="col-auto form-element d-flex justify-content-center">
			<button type="submit" class="btn btn-primary" id="citySubmit">Submit</button>
		</div>
	</form>

	<form id="api-zip">
		<div class="col-auto form-element form-input">
			<label for="#zip">Zip or Postal Code</label>
			<input  id="zip" type="number" class="form-control" placeholder="enter valid zip or postal code" required>
		</div>
		<div class="col-auto form-element form-input">
			<label for="#countryZip"><a href="https://www.nationsonline.org/oneworld/country_code_list.htm" target="_blank">Country Codes</a></label>
			<input id="countryZip" type="text" class="form-control" pattern="[a-zA-Z]+" placeholder="enter valid country code" required>
		</div>
		<div class="col-auto form-element d-flex justify-content-center">
			<button type="submit" class="btn btn-primary" id="zipSubmit">Submit</button>
		</div>
	</form>

	<h3 class="d-flex justify-content-center form-element" >Output:</h3>
	<span id="weatherOutput" class="d-flex justify-content-center"></span>
</div>
<div class="card-body">
	<p class="card-text">HTML, CSS, Bootstrap, Javascript</p>
	<div>
    	<a href="https://github.com/joykm88/portfolio/blob/master/public/js/weather-api.js" class="card-links" target="_blank">GitHub</a>
	</div>
</div>