<h5 class="link-anchor" id="workout-table"></h5>
<h5 class="card-title">Workout Table</h5>
<div class="card d-flex w-100">
    <div id="workout-table-controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="https://workout-table.herokuapp.com" target="_blank"><img class="d-block w-100" src="img/workout-table/workout-table-1.png" alt="First slide"></a>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <a href="https://workout-table.herokuapp.com" target="_blank" class="card-links">Website</a>
    <a href="https://github.com/joykm88/workout-table/" target="_blank" class="card-links">Source Code</a>
</div>