<div class="container-fluid full-body col-sm-9">
    {{> navigation}}

    {{!-- About Me Card --}}
    {{> about-me}}


    {{!-- Apple Cart Card --}}
    {{> apple-cart}}

    {{!-- Workout Table Card --}}
    {{> workout-table}}


    {{!-- Keto Love Card --}}
    {{> keto-love}}

    

    {{!-- Weather API Card --}}
    {{> weather-api}}

    {{!-- Dom Manipulation Card --}}
    {{> dom-manipulation}}

    {{!-- Post Request Card --}}
    {{> post-request}}
   
    {{!-- Other Projects Card --}}
    {{> other-projects}}
    
</div>
