<nav class="navbar fixed-top navbar-light bg-faded align-items-end">
        <a href="#top" class="navbar-brand" id="name">Kevin Joy</a>
        <button class="d-flex align-items-end navbar-toggler custom" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="dropdown-toggle" >Projects</span>
        </button>
        </div>
        <div class="navbar-collapse collapse w-100" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item text-right">
                        <a class="dropdown-item" href="#">Apple Cart</a>
                        <a class="dropdown-item" href="#">Keto Love</a>
                        <a class="dropdown-item" href="#">Other Projects</a>
                </li>
            </ul>
        </div>
</nav>


<div class="container-fluid full-body">
    <div class="row d-flex justify-content-center" id="about-me">
    <div class="col-sm-12">
        <div class="card about-me">
            <h5 class="card-title">About me:</h5>
            <div class="card-body about-me">
                <p>I am studying Computer Science to make a career change from Finance into Software Engineering. 
                    While working in Finance I learned that I really enjoyed programming so I chose to pursue it full time. 
                </p>
                {{!-- <p>
                    As my interest in programming grew, I started taking intro level computer science courses part time in the evenings while working full time. 
                    In early 2020, the timing was right for me to return to school full time, complete my computer science degree, and jump into tech full time.
                </p>  --}}
        
                <p class="about-me-data mb-0">Location:</p>
                <p>Austin, TX</p>
                
                <p class="about-me-data mb-0">School:</p>
                <p>Oregon State University</p>

                <p class="about-me-data mb-0">Completed Courses:</p>
                <ul class="pl-4">
                    <li class="courses m-0">Computer Architecture and Assembly Language (assembly)</li>
                    <li class="courses">Software Engineering I (javascript)</li>
                    <li class="courses">Data Structures (python)</li>
                    <li class="courses">Web Development (javascript)</li>
                    <li class="courses">Discrete Structures in CS</li>
                    <li class="courses">Intro to Computer Science II (C++)</li>
                    <li class="courses">Intro to Computer Science I (C++)</li>
                </ul>


            <div class="d-flex justify-content-center">
                <a href="mailto: joykm88@gmail.com" class="card-link contact-info" target="_blank">joykm88@gmail.com</a>
                <a href="https://www.linkedin.com/in/kevin-joy/" class="card-link contact-info" target="_blank">LinkedIn</a>
                <a href="https://github.com/joykm88" class="card-link contact-info" target="_blank">GitHub</a>
            </div>
        </div>
        </div>
    </div>
  </div>
</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>

