
<div class="container-fluid full-body">
            
    {{!-- About Me Card --}}
    {{> about-me}}


    {{!-- Apple Cart Card --}}
    {{> apple-cart}}

    {{!-- Workout Table Card --}}
    {{> workout-table}}


    {{!-- Keto Love Card --}}
    {{> keto-love}}

    

    {{!-- Weather API Card --}}
    {{> weather-api}}


   
    {{!-- Dom Manipulation Card --}}
    {{> dom-manipulation}}


    {{!-- Other Projects Card --}}
    {{> other-projects}}
    
</div>

