/*
About-me
*/

.card-title.about-me {
	margin-top: 1.25rem;
}

.card.about-me {
	border: none;
}

.card-body.about-me {
	margin-top: 0rem;
	padding-top: 1.25rem;
	padding-left: 1.25rem;
}

.about-me-data {
	font-weight: bold;
	font-size: 1.2rem;
}