/*
Navigation
*/
.navbar.fixed-top {
	max-width: 1200px;
	margin-right: auto;
  	margin-left: auto; 
	background-color: white;
	padding-top: .25rem;
	padding-bottom: 0rem;
	padding-right: 0rem;
	padding-left: 0rem;
	border-bottom: 2px solid #007bff;
	font-family: 'Nunito', sans-serif;
}

.navbar-toggler {
	padding-right: 0rem;
}

.navbar-brand {
	color: #007bff;
	font-size: 1.75rem;
	padding-left: 1rem;
}

.navbar-brand:focus, .navbar-brad:active, .dropdown-toggle:focus, .dropdown-toggle:active, .nav-link:focus, .nav-link:active {
	border: none;
	outline: 0;
}

.collapse .navbar-nav .nav-item .nav-link {
	padding-left: 2rem;
	font-size: 1rem;

}

.collapse {
	margin-bottom: 0rem;
}

.dropdown-toggle {
	font-size: 1rem;
	color: #007bff;
	padding-right: 1.25rem;
}

.navbar-nav {
	padding-right: 1.25rem;
}